/* GENERAL */

body {
  background-color: #f2f2f2;
  color: #fff;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* UTILITY */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

/* MAIN */

main {
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 57.5rem;
  margin: 5.5rem 1.5rem;
}

@media (min-width: 48rem) {
  main {
    display: flex;
  }
}

/* CARD */

.card {
  padding: 3rem;
}

.card--sedans {
  background-color: #e28625;
}

.card--suvs {
  background-color: #006971;
}

.card--luxury {
  background-color: #004140;
}

.card__icon {
  margin-bottom: 2.19rem;
}

.card__title {
  color: #f2f2f2;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1.56rem;
}

.card__text {
  opacity: 0.75;
  margin-bottom: 1.56rem;
}

@media (min-width: 48rem) {
  .card__text {
    margin-bottom: 5.19rem;
  }
}

.card__btn {
  background-color: #f2f2f2;
  border-radius: 1.5625rem;
  border: 2px solid #fff;
  padding: 0.72rem 1.97rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s ease-in-out;
}

.card__btn:is(:hover, :focus) {
  background-color: transparent;
  color: #fff;
}

.card__btn--sedans {
  color: #e28625;
}

.card__btn--suvs {
  color: #006971;
}

.card__btn--luxury {
  color: #004140;
}
